<div class="form-horizontal" style="margin-top:90px;">
    <div class="row">
        <div class="col-md-12" style="font-size:34px;font-weight:bold;color:#0BA083;text-align:center">INFORMACION/INFORMATION</div><hr />
    </div>
    <div class="row">
        <div class="col-md-6"><img src="~/Content/img/apc-logo.png" style="width:100%" /></div>
        <div class="col-md-6">
            <div style="
                margin-top: 90px;
                font-size: 36px;
                font-weight: bold;
                text-align: center;">You dont have permission to access to this view</div>
            <div style="
                margin-top: 20px;
                font-size: 24px;
                font-weight: bold;
                text-align: center;">Contact to this mail blablabla@apc.com</div>
        </div>
    </div>
</div>
